@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');

body{
    margin: 0px;
    background-image: url('Images/young-fitness-man-studio.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
}

.logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo p{
    color: white;
    font-family: Rubik Mono One;
    font-size: 20px;
    font-weight: 600;
    margin-top: 4px;
    margin-bottom: 0px;
}

.logo img{
    width: 36px;
}

.pages{
    display: flex;
}

.pages ul{
    color: white;
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.pages ul:hover{
    color: grey;
    cursor: pointer;
}

.Contact button{
    height: 36px;
    width: 124px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: none;
    color: black;
    border: 1px solid white;
    border-radius: 8px;
    background-color: white;
}
.Contact button:hover{
    background-color: grey;
    color: white;
    border:none;
}

.herocontent{
    margin-left: 64px;
}

.herocontent h1{
    font-family: Rubik Mono One;
    font-size: 116px;
    color: white;
    margin-bottom: 0px;
    -webkit-text-stroke: 3px white;
    color:transparent;
    margin-top: 264px;
}

.herocontent p{
    font-family: Rubik Mono One;
    font-size: 48px;
    color: white;
    margin-top: 0px;
}

.footer{
    margin-top: 264px;
    height: 64px;
    background-color: black;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}